---
title: Construction Projects
---
{# <div class="prose prose-lg max-w-2xl px-8 mx-auto bg-white">
  <h1  class="py-8">
    My second content
  </h1>

</div> #}

<main class="container py-8">
    <h1 class="text-center text-5xl">This is the {{ title  }} page.</h1>
    <section class="text-gray-700 body-font">
            <div class="container flex flex-col items-center px-5 py-16 mx-auto lg:px-20 lg:py-36 md:flex-row">
                {# <div class="w-5/6 mb-10 lg:max-w-lg lg:w-full md:w-1/2 md:mb-0">
                    <img class="object-center max-w-xs mb-6 rounded w-1/2 h-80" alt="constraction" src="es.cloudinary.com/emlakjet/image/upload/v1462260751/ys3fmm8edinjm7igygmq.png">
                </div> #}
                <div class="my-1 prose lg:prose-xl dark:prose-dark">
                  <ul>
                    <li>
                      <a href="https://www.propertyistanbul.com/properties/nnd-100-tower/">First job as a Site Engineer</a>
                    </li>
                    <li>
                      <a href="https://www.nasinsaat.com.tr/">Second job as a Tecnical Office Engineer</a>
                    </li>
                    <li>
                      <a href="https://www.nasinsaat.com.tr/">Third job as a Site Engineer</a>
                    </li>
                  </ul>
                </div>
                {# <div
                    class="flex flex-col items-center text-center lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
                    <p class="mb-2 text-base leading-relaxed text-center text-gray-700 lg:text-left lg:text-xl">
                        "Something something something."</p> #}

                </div>
            </div>
        </section>
  </main>


