<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default('Diren Akkoc')}}</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body class="flex flex-col bg-gray-300 w-screen"> 
  {% include "header.njk" %}
    <main class="flex grow">
      {% block body %}
            {% block body_content %}
              {{ content | safe }}
            {% endblock body_content %} 
            {% endblock body %}
    </main>
  
</body>
{% include "footer.njk" %} 
</html>