<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title | default('Diren Akkoc')}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="bg-gray-300 flex flex-col min-h-screen">
 {% include "header.njk" %}
  <header class="m-5">
    <span class="flex"><img class="h-6" src="/static/calendar2.png" alt="calendar"><time  datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></span> 
    <p class="flex h-10">Published by <img class="h-7" src="{{ featuredImage | url }}" alt="me">{{author}} </p>
    <div class="flex flex-col justify-center ">
    <h1 class="text-center font-bold "> {{description}} </h1>
  </header>
      <main>
        {% block body %}
            {{ content | safe }}
        {% endblock body %}
      </main>
{% include "footer.njk" %}
</body>
</html>