<footer class="text-gray-800 bg-white border-b-8 mt-auto">
  <div>
    <div class="container flex flex-col flex-wrap  lg:px-10 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center text-base">
        <p class="mr-5 text-sm text-center text-gray-500">Diren Akkoc</p>
        <a href="https://github.com/direnakkocdemir" class="justify-center mr-5 text-md text-center text-black-800 hover:text-blue-700"><img src="/static/icons8-github-48.png" alt="Github logo"></a>
        <a href="https://www.linkedin.com/in/direnakkocdemir/" class="justify-center mr-5 text-md text-center text-blue-600 hover:text-blue-700"> <img src="/static/icons8-linkedin-circled-48.png" alt="LinkeIn logo"></a>
      </div>
    <span class="inline-flex justify-center mt-2 px-5 py-6 sm:ml-auto sm:mt-0 sm:justify-end">
      <p class="mr-5 text-sm text-center text-gray-500">Creating basic personel web page</p>
    </span>
    </div>
  </div>
</footer>