<footer class="text-gray-800 bg-white border-b-8 mt-auto">
  <div>
    <div class="container flex flex-col flex-wrap px-5 py-6 lg:px-10 sm:flex-row">
      <div class="flex flex-wrap items-center justify-center text-base">
        <p class="mr-5 text-sm text-center text-gray-200"></p>
        <a href="http://" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700">LINK 1</a>
        <a href="http://" class="justify-center mr-5 text-sm text-center text-blueGray-200 hover:text-blue-700"> LINK 2</a>
      </div>
    <span class="inline-flex justify-center mt-2 sm:ml-auto sm:mt-0 sm:justify-end">
      <p class="mr-5 text-sm text-center text-gray-500">Creating basic web page</p>
    </span>
    </div>
  </div>
</footer>