<header class="text-gray-700 bg-white border-t">
  <div class="container flex flex-col flex-wrap mx-auto md:items-center md:flex-row">
    <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto md:mr-auto">
      <a href="/" class="mr-8 text-md font-semibold hover:text-gray-800">Home</a>
      <a href="/contact" class="mr-8 text-md font-semibold hover:text-gray-800">Contact</a>
      <a href="/diren" class="mr-8 text-md font-semibold hover:text-gray-800">About</a>
    </nav>
  </div>

</header>