---
layout: base.njk
title: blog
pagination: 
  data: collections.post
  size: 2
  alias: blog
---
<div>
 <div class= " flex justify-center text-gray-600 mt-10">
  <ul>
  {% for post in blog %}
    <li>
      <strong>
        <a href="{{post.url}}">{{post.data.title}}</a>
      </strong>
      <span>
        {{post.data.description}}
      </span>
    </li>
  {% endfor %}
  </ul>
  <ul>
  </div>
    {# {% if pagination.pageNumber > 0 %}
        <li><a href="{{pagination.href.first}}">First</a></li>
    {% endif %} #}

    <div class="text-blue-400 flex justify-end">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="mr-5">Previous</a>
    {% endif %}

    {% for href in pagination.hrefs %}
      {%if loop.index0 !== pagination.pageNumber %}
       <a href="{{href}}" class="mr-5">Page {{ loop.index }}</a>
      {% endif %}
    {% endfor %}  

    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="mr-5" >Next</a>
    {% endif %}
    </div>
    
    {# {% if pagination.pageNumber < pagination.pages.length - 1 %}
        <li><a href="{{pagination.href.last}}">Last</a></li>
    {% endif %} #}
  </ul>
</div>