---
title: Diren
layout: base.njk
---


<div class="flex justify-center py-8">
  <h1 class="text-center text-5xl">{{ site.title  }}</h1>
    <div class="text-gray-700 body-font">
      <div class="flex flex-row items-end lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 md:items-start md:text-left">
        <p class="mb-2 text-base leading-relaxed text-center text-gray-700 lg:text-left lg:text-xl">
         "Something something something."</p>
      </div>
    </div>
  </div>